{% extends "donations/modalSVG.html" %}

{% block modalSVG_tag %}FAQ{% endblock %}
{% block modalSVG_id %}FAQ{% endblock %}
{% block modalSVG_linklabel %}FAQ{% endblock %}
{% block modalSVG_title %}FAQ{% endblock %}

{% block modalSVG_content %}
<div class="page-header">
  <h1>Frequently Asked Questions <small>answered here!</small></h1>
</div>
<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="heading1">
      <h4 class="panel-title">
        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse1" aria-expanded="true" aria-controls="collapse1">
          1. What is www.helpinghands.gives ?
        </a>
      </h4>
    </div>
    <div id="collapse1" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading1">
      <div class="panel-body">
        It is a Web Platform to invite/facilitate the movement of complete/100% contribution from Donor to Donee.
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="heading2">
      <h4 class="panel-title">
        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse2" aria-expanded="false" aria-controls="collapse2">
          2. What are the areas of help?
        </a>
      </h4>
    </div>
    <div id="collapse2" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading2">
      <div class="panel-body">
        Helping Hands.Gives will cater to only Basic education and Medical emergencies of the Donee/Recipients, unable to afford these financially.
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="heading3">
      <h4 class="panel-title">
        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse3" aria-expanded="false" aria-controls="collapse3">
          3. Why it is not a NGO/Crowd Funding site?
        </a>
      </h4>
    </div>
    <div id="collapse3" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading3">
      <div class="panel-body">
      	In order to facilitate 100% movement of money to recipients, Helping Hands.Gives does not own any bank account or Company. The donor is encouraged to remit directly to the Bank Account of the Donee/Recipient with due Verification process.
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="heading4">
      <h4 class="panel-title">
        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse4" aria-expanded="true" aria-controls="collapse4">
          4. How will the expenses of the Web Platform/Administration work be managed?
        </a>
      </h4>
    </div>
    <div id="collapse4" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading4">
      <div class="panel-body">
        Initial expenses/Ongoing maintenance/Operating expenses of the Web Platform is managed by the Founders/Core team and Associates.  If anyone wishes to contribute towards the same can do so by contacting us and paying the person shouldering the expenses directly. Statement of all the expenses along with the contributor name will be displayed on the website.
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="heading5">
      <h4 class="panel-title">
        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse5" aria-expanded="false" aria-controls="collapse5">
          5. How www.helpinghands.gives work?
        </a>
      </h4>
    </div>
    <div id="collapse5" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading5">
      <div class="panel-body">
        A registered Donor recommends the Donee/Recipient who needs the help (Educational/Medical) and registers them onto www.helpinghands.gives as per the requirements in the Registration form found on the Home Page of the website. After the due verification of Donee/Recipient, the case in particular is cleared for Payment. An intimation is sent to all registered Donors for their contribution. Donors will express their wish to donate a particular amount. Once the Total amount is arrived at, an intimation is sent to all the Registered Donors to remit the amount directly to the Bank account designated by the Donee/Recipient. Once the Amount is credited to the Donee/Recipient, Bank/Transfer details will be uploaded in the site and the case is closed with a testimonial of the Donee/Recipient.
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="heading6">
      <h4 class="panel-title">
        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse6" aria-expanded="false" aria-controls="collapse6">
          6. Who is a registered Donor?
        </a>
      </h4>
    </div>
    <div id="collapse6" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading6">
      <div class="panel-body">
      	A registered donor must meet the following criteria:-
		Any individual across the globe invited by any existing registered donor, and
		Agrees/wishes to help/donate to the donee/recipient directly
		Registers on www.helpinghands.gives as per details on the Registration form
		Agrees to the terms and conditions on the website
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="heading7">
      <h4 class="panel-title">
        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse7" aria-expanded="true" aria-controls="collapse7">
          7. What is the Responsibility of a registered Donor?
        </a>
      </h4>
    </div>
    <div id="collapse7" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading7">
      <div class="panel-body">
		        
		1. Inviting a donor/donors to get registered on the Web platform. 
		2. Recommending genuine cases of help (with invoices/photographs/any other genuine attachments) and facilitate the registration process of the Donee/Recipient.
		3. Expressing his/her wish to contribute a particular amount depending on the case along with other donors, on www.helpinghands.gives > My Page of the donor.
		4. Making the bank transfer from his/her account to Donee/Recipient bank account as per the bank details given, and upload and update the Bank Transfer details on www.helpinghands.gives > My Page of the donor.
		5. Obtaining the Testimonial from the Donee/Recipient and upload on www.helpinghands.gives 
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="heading8">
      <h4 class="panel-title">
        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse8" aria-expanded="false" aria-controls="collapse8">
          8. Is a Donor bound to mandatorily contribute every time?
        </a>
      </h4>
    </div>
    <div id="collapse8" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading8">
      <div class="panel-body">
		The frequency and amount is completely up to the Donor, there is absolutely no compulsion for the Donor to contribute every time. Even registering on www.helpinghands.gives does not make one bound to contribute. In saying this, we do expect only Genuine Donors to get registered with the intension to Help/Support others. Ideal/Inactive Donors will be deleted from the Donor list; i.e. if there no contribution for period of one Calendar year.
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="heading9">
      <h4 class="panel-title">
        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse9" aria-expanded="false" aria-controls="collapse9">
          9. What is the information required of the Donor?
        </a>
      </h4>
    </div>
    <div id="collapse9" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading9">
      <div class="panel-body">
      	Helping Hands.Gives takes only basic personal information detailed in the registration form and does not require any Bank Account details of the Donor.
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="heading10">
      <h4 class="panel-title">
        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse10" aria-expanded="true" aria-controls="collapse10">
          10.  Will Donor information be available to the any Donee/Recipient?
        </a>
      </h4>
    </div>
    <div id="collapse10" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading10">
      <div class="panel-body">
        No, but all Donors will have access to all Donees registered on www.helpinghands.gives 
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="heading11">
      <h4 class="panel-title">
        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse11" aria-expanded="false" aria-controls="collapse11">
          11.  Who is a registered Donee/Recipient?
        </a>
      </h4>
    </div>
    <div id="collapse11" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading11">
      <div class="panel-body">
		Any individual across India can be Donee/recipient, who is in genuine need of Medical and Educational help and cannot afford it due to financial reasons. Who takes up his/her case to the Registered Donor and completes and agree on the Terms and conditions only invited by the any existing Registered Donor, who in turn agrees/wishes to Help/Donate directly to the Donee/Recipient, and registers in the Helping Hands. Gives, website Platform as per the details given in the Registration form and agree on the terms and conditions on the Website Platform, Helping Hands.Gives. Donee/Recipient can reach the Helping Hands.Gives only through Registered Donor.
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="heading12">
      <h4 class="panel-title">
        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse12" aria-expanded="false" aria-controls="collapse12">
          12.  What is the information required of the Donee/Recipient?
        </a>
      </h4>
    </div>
    <div id="collapse12" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading12">
      <div class="panel-body">
      	Apart from personal information and case details as per the registration form, Basic Bank Account details are required to transfer funds to the Donee/Recipient. Donee/Recipient is not compelled to furnish any confidential bank or credit card information like Credit/Debit ATM Card Number /ATM Pin/OTP or any such information over and above thos detailed in the Registration form. Helping Hands.Gives will not take any responsibility of misuse of the confidential information provided.
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="heading13">
      <h4 class="panel-title">
        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse13" aria-expanded="false" aria-controls="collapse13">
          13.  Is every Registered Donee eligible to get help?
        </a>
      </h4>
    </div>
    <div id="collapse13" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading13">
      <div class="panel-body">
      	No. Only after due verification process, if the case is found genuine as per the parameters set by the verification team at Helping Hands.Gives. Cases failing the verification criteria will be rejected. Decision of the verification team will be final, no claims will be entertained once a case is rejected.
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="heading14">
      <h4 class="panel-title">
        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse14" aria-expanded="false" aria-controls="collapse14">
          14.  How does the verification Process work?
        </a>
      </h4>
    </div>
    <div id="collapse14" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading14">
      <div class="panel-body">
		      	
		Verification will be conducted by the verification team at Helping Hands.Gives as per the questionnaire duly approved by the core team of Helping Hands.Gives in following ways:
		1. Verification by Phone: This is initial and basic verification method to check the sanctity of the registration form of the Donee/Recipient.
		2. Verification by Interview: Donee/Recipient will be called to meet a verification team member and present/explain the case in person.
		3. Verification by Visit: Associate of Helping Hands.Gives will visit the venue of the Donee/Recipient for final verification.
		Verification at all above levels will be documented by filled questionnaire and will be uploaded on the My Page of the Donee/Recipient.
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="heading15">
      <h4 class="panel-title">
        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse15" aria-expanded="false" aria-controls="collapse15">
          15.  Can a Donor be part of the verification process?
        </a>
      </h4>
    </div>
    <div id="collapse15" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading15">
      <div class="panel-body">
		Yes, since all the information of the Donee/Recipient is available to the Donor, any donor can conduct an independent verification and convey the results to verification team before starting completing the remittance process, but cannot influence the verification process. The final decision will be of the verification team.
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="heading16">
      <h4 class="panel-title">
        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse16" aria-expanded="false" aria-controls="collapse16">
          16.  Can one refer any Donee/Recipient without being a Donor?
        </a>
      </h4>
    </div>
    <div id="collapse16" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading16">
      <div class="panel-body">
		No, we wish you to part of the Contribution process. In case you do not wish to become Donor and wish to recommend a Donee/Recipient, you can to do so by approaching any Registered Donor on your own accord.  Helping Hands.Gives will not provide any information of the Donor to the general public.
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="heading17">
      <h4 class="panel-title">
        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse17" aria-expanded="false" aria-controls="collapse17">
          17.  What Happens when you get Multiple Donees cases registered at a time?
        </a>
      </h4>
    </div>
    <div id="collapse17" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading17">
      <div class="panel-body">
		When we receive more than one case, our verification team will evaluate the cases and depending on the nature and importance, will prioritize the same from the verification to declare as good for payment. Funding process will be always on case to case basis on the priority list.  Once one case is closed, the next case will be open for Bank Transfers, to Donors. Thus there will be always one case at a time and multiple Donors contributing towards it.
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="heading18">
      <h4 class="panel-title">
        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse18" aria-expanded="false" aria-controls="collapse18">
          18.  Do Donors get any Income Tax Benefit against the Donations?
        </a>
      </h4>
    </div>
    <div id="collapse18" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading18">
	  <div class="panel-body">
	    Since the intention is to move 100% payments to Donee/Recipient with a selfless motive, No Income Tax benefit will be not be available to the Donor.
      </div>
    </div>
  </div>
</div>

{% endblock %}