{% extends "donations/modalSVG.html" %}
{% block modalSVG_tag %}links{% endblock %}
{% block modalSVG_id %}links{% endblock %}
{% block modalSVG_linklabel %}Helpful Links{% endblock %}
{% block modalSVG_title %}Helpful Links{% endblock %}

{% block modalSVG_content %}
<div class="page-header">
  <h1>Helpful Links and Videos</h1>
</div>

<!-- 16:9 aspect ratio -->
<div class="embed-responsive embed-responsive-16by9">
	<iframe class="embed-responsive-item" 
	src="https://www.youtube.com/embed/fiosUWvQIzc" frameborder="0" allowfullscreen></iframe>
</div>

{% endblock %}

