{% extends "donations/base.html" %}

{% block title %}Helping Hands | Home{% endblock %}

{% block content %}

	{% load static from staticfiles %}
	<nav class="navbar navbar-default">
	  <div class="container-fluid">
	    <!-- Brand and toggle get grouped for better mobile display -->
	    <div class="navbar-header">
	      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
	        <span class="sr-only">Toggle navigation</span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	      </button>
	      <a class="navbar-brand" href="/">Home</a>
	    </div>

	    <!-- Collect the nav links, forms, and other content for toggling -->
	    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
	      <ul class="nav navbar-nav">
	        <li>{% include 'donations/about_us.html' %}</li>
	        <li>{% include 'donations/FAQ.html' %}</li>
	        <li>{% include 'donations/people.html' %}</li>
	        <li>{% include 'donations/TOU.html' %}</li>
	        <li>{% include 'donations/privacy_policy.html' %}</li>
	        <li><a id="a_help" href="#">Helpful Links</a></li>
	      </ul>
	      <ul class="nav navbar-nav navbar-right">
	        <li><a id="a_contact" href="#">Contact Us</a></li>
	        <li><a id="a_getinvolved" href="#">Get Involved</a></li>
	      </ul>
	    </div><!-- /.navbar-collapse -->
	  </div><!-- /.container-fluid -->
	</nav>


	<!-- The Logo and Header -->
	<div class="container-fluid">
		<div class="jumbotron" style="background-color: #DCEDC8;">
			<div class="row">
				<div class="col-md-5 col-sm-12">
					<img src="{% static "donations/img/hh_logo_full.PNG" %}" class="img-responsive center-block" alt="Helping Hands" style="height: 140px">
				</div>
  				<div class="col-md-7 col-sm-12" style="font-style: italic; font-size: 20px">
  					<br>
  					<ul>
						<li>A non-profit mediator that enables 100%, direct contribution to recipients</li>
						<li>A selfless endeavour to make your contribution verifiable and transparent</li>
						<li>A platform for you to partake in humanitarian kindness</li>
					</ul>
  				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-4 col-sm-12"></div>
			<div class="col-md-4 col-sm-12"></div>
			<div class="col-md-4 col-sm-12"></div>
		</div>
	</div>

{% endblock %}

{% block scripts %}
<script>
	$(document).ready(function() {
	});
</script>
{% endblock %}