{% load static from staticfiles %}

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="{% static "jquery/dist/jquery.min.js" %}"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="{% static "bootstrap/dist/js/bootstrap.min.js" %}"></script>
<script src="{% static "bootstrap-material-design/dist/js/material.min.js" %}"></script>
<script src="{% static "bootstrap-material-design/dist/js/ripples.min.js" %}"></script>
<script type="text/javascript">
	$.material.init();
  // using jQuery
  function getCookie(name) {
      var cookieValue = null;
      if (document.cookie && document.cookie != '') {
          var cookies = document.cookie.split(';');
          for (var i = 0; i < cookies.length; i++) {
              var cookie = jQuery.trim(cookies[i]);
              // Does this cookie string begin with the name we want?
              if (cookie.substring(0, name.length + 1) == (name + '=')) {
                  cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                  break;
              }
          }
      }
      return cookieValue;
  }
</script>