<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Welcome aboard | helpinghands.gives</title>
    {% load static from staticfiles %}

    <!-- Bootstrap -->
    <link href="{% static "bootstrap/dist/css/bootstrap.min.css" %}" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
  	<img src="{% static "donations/img/hh_logo_full.PNG" %}" 
  	class="img-responsive center-block" alt="HelpingHands.gives">
	<div class="page-header">
  		<h1 class="text-center">Welcome aboard, {{ name }}</h1>
	</div>
	<div class="text-center">
	<p>
		Let us tell you that you've taken a great step towards helping people.<br>
		You'll find details below for logging in to your account at
		<a href="http://www.helpinghands.gives">www.helpinghands.gives</a>
	</p>
  <p>Registration ID : {{ registration_id }}</p>
	<p>Username : {{username}}</p>	
	<p>Password : {{password}}</p>	
	
	<p>Please log in to your account and change your password.
		<br>Also remember to complete your profile information.
	</p>

	<p>Once again, thanks for registering on our platform.
		<br>In case you have any concerns/issues, feel free to reply to this email.
		<br>We're real, live humans, listening to what you have to say.
	</p>

	<footer>
		<i>-The helpinghands.gives team.</i>
	</footer>
	</div>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="{% static "jquery/dist/jquery.min.js" %}"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="{% static "bootstrap/dist/js/bootstrap.min.js" %}"></script>
  </body>
</html>