{% extends "donations/base.html" %}
{% block title %}About Us | helpinghangs.gives {% endblock %}

{% block content %}
<div class="well">
	<div class="page-header">
	  <h1>About Us</h1>
	</div>

	<p>A sure way to help the world is by helping one person at a time. Daily, we come across multiple
	cases with potential for our reaching out. Yet, we hesitate. We either find it ‘out of our capacity’ to 
	financially support the entire cause or we are unsure of its authenticity.</p>

	<p>Here is where HelpingHands.gives comes in. We provide the perfect and most transparent medium of 
	offering your help to the needy, where your contribution is backed up by many others’. Thus, we 
	offer a platform by which multiple donors can help the less privileged in our society fearlessly and 
	without reserve.</p>

	<p>Further, we would like our partners to know that all administrative expenses at HelpingHands.gives is 
	taken care of exclusively by our Core team and associates.</p>

	<p>Our team ensures that ‘needs’ are verified as genuine by HelpingHands.gives, backed up with legit 
	documentation as required to safeguard the donation procedure. This way, both donor and recipient 
	are granted complete transparency.</p>

	<p>HelpingHands.gives is a non-profit mediator created by a team of selfless individuals who will ensure 
	100% financial help moving from one or more donors to recipient. HelpingHands.gives does not own any 
	bank account, and hence your entire Contribution will reach the recipient account directly. Thus, 
	there can and will be no income tax benefits. By this, we highlight our pure intention of helping 
	those in need without any ulterior motive.</p>

	<p>The founders at HelpingHands.gives have been reaching out to the needy for a long time. Their initiative 
	through this platform will allow you and other volunteers to partake of their humanitarian kindness.</p>

	<p>
	HelpingHands.gives caters to the following areas of help:
	<br>1. Basic Education
	<br>2. Medical Needs

	We earnestly invite you to join us in this movement of change :)
	</p>

</div>

{% endblock %}