{% extends "donations/base.html" %}

{% block title %}Helping Hands | Home{% endblock %}

{% block content %}

	{% load static from staticfiles %}
	<!-- The Logo and Header -->
	<div class="container-fluid">
		<div class="jumbotron" style="background-color: #DCEDC8;">
			<div class="row">
				<div class="col-md-5 col-sm-12">
					<img src="{% static "donations/img/hh_logo_full.PNG" %}" class="img-responsive center-block" alt="Helping Hands" style="height: 140px">
				</div>
  				<div class="col-md-7 col-sm-12" style="font-style: italic; font-size: 20px">
  					<br>
  					<ul>
						<li>A non-profit mediator that enables 100%, direct contribution to recipients</li>
						<li>A selfless endeavour to make your contribution verifiable and transparent</li>
						<li>A platform for you to partake in humanitarian kindness</li>
					</ul>
  				</div>
			</div>
		</div>
		<div class="row">
			
			<div class="col-md-4 col-sm-12">
				<div class="thumbnail">
			      <div class="caption">
			        <h3><a href="/donor/signup/">Donor Signup</a> / <a href="/accounts/login/">Login</a></h3>
			      </div>
			      <img src="{% static "donations/img/helping-others.jpg" %}" alt="Donor Signup">
			    </div>
			</div>
			<div class="col-md-4 col-sm-12">
				<ul style="-webkit-padding-start: 0px;">
				  <li class="list-group-item">
				  	Donors Registered<span class="badge">{{ donor_total_count }}</span>
				  </li>
				  <li class="list-group-item">
				  	Cases Registered<span class="badge">{{ donee_total_count }}</span>
				  </li>
				  <li class="list-group-item">
				  	Cases Rejected<span class="badge">{{ donee_rejected_count}}</span>
				  </li>
				  <li class="list-group-item">
				  	Cases Under Verification<span class="badge">{{ donee_under_verification_count }}</span>
				  </li>
				  <li class="list-group-item">
				  	<strong>Cases Served</strong><span class="badge">{{ donee_closed_count }}</span>
				  </li>
				  <li class="list-group-item">
				  	<strong>Total Donation</strong><span class="badge">INR {{ total_donation }}</span>
				  </li>
				</ul>
			</div>
			<div class="col-md-4 col-sm-12">
				<div class="thumbnail">
			      
			      <div class="caption">
			        <h3><a href="/accounts/profile/#newcase">Know someone in need?</a></h3>
			        <!-- <p>Coming soon !</p> -->
			        <!-- <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p> -->
			      </div>
			      <img src="{% static "donations/img/coming-soon.jpg" %}" alt="Coming Soon">
			    </div>
			</div>
		</div>
	</div>

{% endblock %}

{% block scripts %}
<script>
	$(document).ready(function() {
		if (window.location.hash && window.location.hash != "#") {
			// Expand the navbar so that the hash elements become part of the DOM
			$('#navbar-collapse-home').addClass('in');
			$(window.location.hash)[0].click();
    	}
	});
</script>
{% endblock %}