{% extends "donations/base.html" %}
{% load static from staticfiles %}

{% block title %}People | helpinghands.gives{% endblock %}

{% block content %}
<div class="well">
<div class="page-header">
  <h1 class='text-center'>Meet The Team!</h1>
</div>
<hr>
<div class="row">
	<div class="col-md-8">
		<div class="row">
			<h3 class="text-center">FOUNDERS</h3>
			<div class="col-md-4 col-md-offset-1">
				<figure class="snip1091 navy center-block">
					<img class="img-responsive center-block" src="{% static "donations/img/people/JivanKotian.JPG" %}" alt="Jivan Kotian"/>
					<figcaption>
				    	<h2>Jivan  <span>Kotian</span></h2>
				  	</figcaption>
				</figure>
			</div>
			<div class="col-md-4 col-md-offset-2">
				<figure class="snip1091 navy center-block">
					<img class="img-responsive center-block" src="{% static "donations/img/people/FrankDsouza.jpg" %}" alt="Frank D'souza"/>
					<figcaption>
				    	<h2>Frank  <span>D'souza</span></h2>
				  	</figcaption>
				</figure>
			</div>
		</div>		
	</div>
	<div class="col-md-4" style="border-left: 2px solid #009688">
		<div class="row">
			<h3 class="text-center">WEB PLATFORM</h3>
			<div class="col-md-12">
				<figure class="snip1091 navy center-block">
					<img class="img-responsive center-block" src="{% static "donations/img/people/CajetanRodrigues.jpg" %}" alt="Cajetan Rodrigues"/>
					<figcaption>
				    	<h2>Cajetan <span>Rodrigues</span></h2>
				  	</figcaption>
				</figure>
			</div>
		</div>		
	</div>
</div>
<hr>
<h3 class="text-center">CORE TEAM</h3>
<div class="row">
	<div class="col-md-4">
		<figure class="snip1091 navy center-block">
			<img class="img-responsive center-block" src="{% static "donations/img/people/PeterFernandes.jpg" %}" alt="Peter Fernandes"/>
			<figcaption>
		    	<h2>Peter  <span>Fernandes</span></h2>
		  	</figcaption>
		</figure>
	</div>
	<div class="col-md-4">
		<figure class="snip1091 navy center-block">
			<img class="img-responsive center-block" src="{% static "donations/img/people/MaheshwaranJayaraman.JPG" %}" alt="Maheshwaran Jayaraman"/>
			<figcaption>
		    	<h2>Maheshwaran <span>Jayaraman</span></h2>
		  	</figcaption>
		</figure>
	</div>
	<div class="col-md-4">
		<figure class="snip1091 navy center-block">
			<img class="img-responsive center-block" src="{% static "donations/img/people/MangeshBhanu.jpg" %}" alt="Mangesh Bhanu"/>
			<figcaption>
		    	<h2>Mangesh  <span>Bhanu</span></h2>
		  	</figcaption>
		</figure>
		
	</div>
</div>
<br>
<div class="row">
	<div class="col-md-4">
		<figure class="snip1091 navy center-block">
			<img class="img-responsive center-block" src="{% static "donations/img/people/PradeepMendon.JPG" %}" alt="Pradeep Mendon"/>
			<figcaption>
		    	<h2>Pradeep  <span>Mendon</span></h2>
		  	</figcaption>
		</figure>
	</div>
	<div class="col-md-4">
		<figure class="snip1091 navy center-block">
			<img class="img-responsive center-block" src="{% static "donations/img/people/VenoraNoronha.jpg" %}" alt="Venora Noronha"/>
			<figcaption>
		    	<h2>Venora  <span>Noronha</span></h2>
		  	</figcaption>
		</figure>
	</div>
	<div class="col-md-4">
		<figure class="snip1091 navy center-block">
			<img class="img-responsive center-block" src="{% static "donations/img/people/SunilPinto.jpeg" %}" alt="Sunil Pinto"/>
			<figcaption>
			<h2>Sunil <span>Pinto</span></h2>
			</figcaption>
		</figure>
	</div>
</div>
<hr>
<h3 class="text-center">ASSOCIATES / ADVISORS</h3>
<div class="row">
	<div class="col-md-4">
		<figure class="snip1091 navy center-block">
			<img class="img-responsive center-block" src="{% static "donations/img/people/ManishVakhariya.JPG" %}" alt="Manish Vakharia"/>
			<figcaption>
		    	<h2>Manish  <span>Vakharia</span></h2>
		  	</figcaption>
		</figure>
	</div>
	<div class="col-md-4">
		<figure class="snip1091 navy center-block">
			<img class="img-responsive center-block" src="{% static "donations/img/people/ImeldaSequeira.jpg" %}" alt="Imelda Sequeira"/>
			<figcaption>
		    	<h2>Imelda <span>Sequeira</span></h2>
		  	</figcaption>
		</figure>
	</div>
	<div class="col-md-4">
		<figure class="snip1091 navy center-block">
			<img class="img-responsive center-block" src="{% static "donations/img/people/MarioSequeira.jpg" %}" alt="Mario Sequeira"/>
			<figcaption>
		    	<h2>Mario  <span>Sequeira</span></h2>
		  	</figcaption>
		</figure>
	</div>
</div>
<br>
<div class="row">
	<div class="col-md-4 col-md-offset-1">
		<figure class="snip1091 navy center-block">
			<img class="img-responsive center-block" src="{% static "donations/img/people/MansoorKazi.jpg" %}" alt="Mansoor Kazi"/>
			<figcaption>
		    	<h2>Mansoor  <span>Kazi</span></h2>
		  	</figcaption>
		</figure>
	</div>
	<div class="col-md-4 col-md-offset-2">
		<figure class="snip1091 navy center-block">
			<img class="img-responsive center-block" src="{% static "donations/img/people/GaneshKasbale.jpg" %}" alt="Ganesh Kasbale"/>
			<figcaption>
		    	<h2>Ganesh <span>Kasbale</span></h2>
		  	</figcaption>
		</figure>
	</div>
</div>
<hr>
<h3 class="text-center">VERIFICATION TEAM</h3>
<div class="row">
	<div class="col-md-6 ">
		<figure class="snip1091 navy center-block">
			<img class="img-responsive center-block" src="{% static "donations/img/people/YvonneKotian.jpg" %}" alt="Yvonne Kotian"/>
			<figcaption>
		    	<h2>Yvonne  <span>Kotian</span></h2>
		  	</figcaption>
		</figure>
	</div>
	<div class="col-md-6">
		<figure class="snip1091 navy center-block">
			<img class="img-responsive center-block" src="{% static "donations/img/people/SunithaDsouza.jpg" %}" alt="Sunitha D’Souza"/>
			<figcaption>
		    	<h2>Sunitha  <span>D’Souza</span></h2>
		  	</figcaption>
		</figure>
	</div>
</div>
<hr>
<h3 class="text-center">ADMINISTRATION TEAM - TBA</h3>
<hr>
</div>


{% endblock %}

{% block scripts %}
<script type="text/javascript">

	$("figure").mouseleave(
	    function() {
	      $(this).removeClass("hover");
	    }
	);
</script>
{% endblock %}
