{% load static from staticfiles %}
{% load custom_filters %}
{% for case in cases %}
<div class="well">
    <div class="page-header">
        <h3 class="text-center">Case ID: {{ case.id }}</h3>    
    </div>
    <section>
        <h4 class="text-center">Summary</h4>
        <table border=0 align="center">
            <tr>
                <td style="width: 200px">Status:</td>
                {% for value, label in STATUS_CHOICES %}
                {% if value == case.status %}
                <td>{{ label }}</td>
                {% endif %}
                {% endfor %}
            </tr>
            <tr>
                <td>Recipient Name:</td>
                <td>{{ case.first_name }} {{ case.last_name }}</td>
            </tr>
            <tr>
                <td>Target Amount:</td>
                <td>INR {{ case.approved_amount }}</td>
            </tr>
            <tr>
                <td>All Pledges:</td>
                <td>INR {{ case.pledge_total.amount__sum }}</td>
            </tr>
        </table>
        <br><br>
        <table border=0 align="center">
            <tr>
                <td style="width: 200px">Purpose of request:</td>
                {% for value, label in REASON_CHOICES %}
                {% if value == case.reason %}
                <td>{{ label }}</td>
                {% endif %}
                {% endfor %}
            </tr>
            <tr>
                <td>Details:</td>
                <td>{{ case.brief }}</td>
            </tr>
        </table>
    </section>
    <br>
    {% if case.approved_amount > 0 %}
    <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#my_pledge" aria-expanded="false" aria-controls="my_pledge">
    Pledge to this case
    </button>
    <div class="collapse" id="my_pledge">
        <form id="pledge_form" class="form-horizontal">
            {% csrf_token %}
            <div class="well">
                <!-- ------------------------------ pledge information  --------------------------- -->
                <div class="form-group">
                  <label class="control-label col-md-2">My pledge (INR): </label>
                  <div class="col-md-10">
                    <input class="form-control" 
                    {% for pledge in pledges %}
                        {% if pledge.case == case %} 
                            value="{{ pledge.amount}}" 
                        {%endif%}
                    {% endfor %} 
                    name="pledge_amt" id="pledge_amt" type="text" required
                    {% if  case.approved_amount <= case.pledge_total.amount__sum %} disabled {% endif %}>
                  </div>
                </div>
            </div>
            {% if  case.approved_amount > case.pledge_total.amount__sum %}
            <div class="form-group">
              <div class="col-md-12 text-center">
                <button type="button" class="btn btn-primary" id="btnSubmitPledge" data-case-id="{{ case.id }}" data-loading-text="Saving...">Save</button>
              </div>
            </div>
            {% else %}
                <div class="text-center"><i>No more pledges shall be accepted for this case. Kindly remit your pledges, if any.</i></div>
            {% endif %}
        </form>
        {% for pledge in pledges %}
            {% if pledge.case == case and pledge.amount > 0 %}
                <form id="remit_form" class="form-horizontal">
                    {% csrf_token %}
                    <div class="well">
                        <!-- ------------------------------ remittance information  --------------------------- -->
                        <div class="form-group">
                            <div class="checkbox col-md-12 text-center">
                              <label>
                                <input id="check_remit" type="checkbox" {% if pledge.remitted %} checked {% endif %}>
                                I have remitted INR {{ pledge.amount }} to the recipient's account
                              </label>
                            </div>
                        </div>

                        <div class="form-group">
                          <input type="file" accept="image/*" id="remitproof" multiple>

                          <div class="input-group">
                            <input type="text" readonly class="form-control" placeholder="Submit proof(s) of remittance (images only)...">
                            <span class="input-group-btn input-group-sm">
                              <button type="button" class="btn btn-fab btn-fab-mini">
                                <i class="mdi-editor-attach-file"></i>
                              </button>
                            </span>
                          </div>
                        </div>
                    </div>
                    All submissions: {{ pledge.remittanceproof_set.count }}
                        
                    {% if pledge.remittanceproof_set.count > 0 %}
                        <div class="row">
                            {% for proof_file in pledge.remittanceproof_set.all %}
                                <div class="col-xs-6 col-md-3">
                                    <a href="{% static proof_file.attachment.url %}" class="thumbnail">
                                      <img src="{{ proof_file.attachment.url }}">
                                    </a>
                                </div>
                            {% endfor %}
                        </div>
                    {% endif %}
                    <div class="form-group">
                      <div class="col-md-12 text-center">
                        <button type="button" class="btn btn-primary" id="btnSubmitRemittance" data-case-id="{{ case.id }}" data-pledge-id="{{ pledge.id }}" data-loading-text="Saving...">Save</button>
                      </div>
                    </div>
                </form>
            {%endif%}
        {% endfor %}
    </div>
    {% endif %}
</div>
{% endfor %}
<div class="pagination">
    <span class="step-links">
        {% if cases.has_previous %}
            <a href="?page={{ cases.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ cases.number }} of {{ cases.paginator.num_pages }}.
        </span>

        {% if cases.has_next %}
            <a href="?page={{ cases.next_page_number }}">next</a>
        {% endif %}
    </span>
</div>

<script type="text/javascript">
var csrftoken = getCookie('csrftoken');

$('#pledge_amt').keyup(function(eventObject){
    var input = eventObject.target.value;
    eventObject.target.value = input.replace(/[^0-9]/g, '')
});
$('#btnSubmitPledge').click(function(eventObject){
    $('#pledge_form').validate();
    if ($('#pledge_form').valid()){
        // Submit the form data
        $.ajax(
          {
            url: "/cases/"+$('#btnSubmitPledge').data('case-id')+"/pledges/",
            type: "POST",
            headers: { 'X-CSRFToken' : csrftoken },
            data: {
                'pledge_amt': $('#pledge_amt')[0].value || null,
            },
            beforeSend: function( jqXHR, settingsObj ){
              // Send the submit button into 'loading' state
              $('#btnSubmitPledge').button('loading');
            },
          }
        )
        .done(function(data, status, jqXHR){
          $.snackbar({
            content: "Saved Successfully!",
            style: "toast",
            timeout: 2000 // disappear in milliseconds
          });
          $('#pledge_form')[0].reset();
          window.location.reload();
        })
        .fail(function(jqxhr, status, errorThrown){
          $.snackbar({
            content: jqxhr.responseJSON.message,
            style: "toast",
            timeout: 2000 // disappear in milliseconds
          });
        })
        .always(function(){
            $('#btnSubmitPledge').button('reset');
        }); 
    }
});
$('#btnSubmitRemittance').click(function(eventObject){
    $('#remit_form').validate();
    if ($('#remit_form').valid()){
        var fd = new FormData();
        for (i in $('#remitproof')[0].files){
            fd.append('file'+i, $('#remitproof')[0].files[i]);
        }
        fd.append('remitted', $('#check_remit')[0].checked);
        // Submit the form data
        $.ajax(
          {
            url: "/cases/"+$('#btnSubmitRemittance').data('case-id')+"/pledges/"+$('#btnSubmitRemittance').data('pledge-id')+"/remittance/",
            type: "POST",
            headers: { 'X-CSRFToken' : csrftoken },
            data: fd,
            processData: false,  // tell jQuery not to process the data
            contentType: false,  // tell jQuery not to set contentType
            beforeSend: function( jqXHR, settingsObj ){
              // Send the submit button into 'loading' state
              $('#btnSubmitRemittance').button('loading');
            },
          }
        )
        .done(function(data, status, jqXHR){
          $.snackbar({
            content: "Saved Successfully!",
            style: "toast",
            timeout: 2000 // disappear in milliseconds
          });
          $('#remit_form')[0].reset();
          window.location.reload();
        })
        .fail(function(jqxhr, status, errorThrown){
          $.snackbar({
            content: jqxhr.responseJSON.message,
            style: "toast",
            timeout: 2000 // disappear in milliseconds
          });
        })
        .always(function(){
            $('#btnSubmitRemittance').button('reset');
        }); 
    }
});
</script>