<p>
	You, the Recipient (“Recipient”) by accessing the Website and by availing the facilities available on the website or interacting with the entities or individuals associate with the Website, specifically agree that you have read the following terms and consent to the same:
</p>

<p>
a) The Recipient is not guaranteed or assured any donation only upon the registration and submission of the documents;
<br><br>
b) The payment of donation(s) is subject to verification process and approval of the core team which is based on facts and documents presented by the Recipient. In addition, the donation shall depend on the Donor’s wish to donate in favour of the Recipient;
<br><br>
c) In event the Recipient’s case or plea is rejected or the amount provided is not as expected or requested by the Recipient, no further claims will be entertained in respect to the case. The Website shall not be responsible for any losses or consequences arising from rejection of your claim or request;
<br><br>
d) The recipient shall be responsible for providing accurate and complete information. In event of any inaccurate or incomplete information, the request or case of the Recipient will be rejected;
<br><br>
e) The Recipient shall take care not divulge any Sensitive information like ATM Pins, password etc. while accessing the Website or dealing with the entites or individuals of Website. Any disclosure of the Sensitive Information shall solely be at your risk and consequence;
<br><br>
f) If at any point it is found that the Recipient has indulged in any fraud, negligence, willful misconduct or committed any error, we shall reject your request without any intimation and may report of such fraud, negligence, willful misconduct or error to appropriate legal authorities for necessary action to be taken against you;
</p>

<p>
	In addition to the above terms, by accessing the Website and by availing the facilities available on the website, you agree to have read the Terms of Use of the Website and consent to be bound by the same.
</p>