{% load static from staticfiles %}
<form id="form" class="form-horizontal">
	{% csrf_token %}
	<div class="well">

		<!-- ------------------------------ basic information  --------------------------- -->
		<div class="panel panel-primary">
		  <div class="panel-heading">
		    <h3 class="panel-title">Recipient Information</h3>
		  </div>
		  <div class="panel-body">
			<div class="form-group">
			  <label class="control-label col-md-2">First Name: </label>
			  <div class="col-md-10">
			  	<input class="form-control" name="f_name" id="f_name" type="text" required>
			  </div>
			</div>

			<div class="form-group">
			  <label class="control-label col-md-2">Last Name: </label>
			  <div class="col-md-10">
			  	<input class="form-control" name="l_name" id="l_name" type="text" required>
			  </div>
			</div>

			<div class="form-group">
			  <label class="control-label col-md-2" for="phone">Phone Number:</label>
			  <div class="col-md-10">
			  	<input class="form-control" type="text" id="phone" required>
			  </div>
			</div>

			<div class="form-group">
			  <label class="control-label col-md-2" for="email">Email Address:</label>
			  <div class="col-md-10">
			  	<input class="form-control" type="text" id="email" placeholder="Optional">
			  </div>
			</div>

		  </div>
		</div>
		
		<!-- ------------------------------------ case-related information  --------------------------- -->
		<div class="panel panel-primary">
		  <div class="panel-heading">
		    <h3 class="panel-title">Case Details</h3>
		  </div>
		  <div class="panel-body">
		    <div class="form-group">
			  <label class="control-label col-md-2">Help needed for: </label>
			  <div class="col-md-10">
			  	{% for choice_value, choice_label in REASON_CHOICES %}
			  		<div class="radio radio-primary">
			  			<label>
			  				<input name="reason" id="reason_{{ choice_value }}" type="radio" value="{{ choice_value }}">
			  			{{ choice_label }}
			  			</label>	
			  		</div>
			  	{% endfor %}
			  </div>
			</div>

			<div class="form-group">
			  <label class="control-label col-md-2" for="case_brief">What's your story: </label>
			  <div class="col-md-10">
			  	<textarea placeholder="Use this space to describe your problems. Donors will read this information." class="form-control" rows="10" cols="50" id="case_brief"></textarea>
			  	<span class="help-block">A short summary, like 'Pursuing MSc. Need funds for paying fees.'</span>
			  </div>
			</div>

			<div class="form-group">
			  <label class="control-label col-md-2" for="wish_amt">Requirement (Amount in INR): </label>
			  <div class="col-md-10">
			  	<input class="form-control" type="number" id="wish_amt">
			  </div>
			</div>
		  </div>
		</div>
		
		<!-- ------------------------------------ contact information  -------------------------------- -->
		<div class="panel panel-primary">
		  <div class="panel-heading">
		    <h3 class="panel-title">Residential Address</h3>
		  </div>
		  <div class="panel-body">
			<div class="form-group">
			  <label class="control-label col-md-2" for="house_name">House Name:</label>
			  <div class="col-md-10">
			  	<input class="form-control" type="text" id="house_name">
			  </div>
			</div>
			<div class="form-group">
			  <label class="control-label col-md-2" for="street">Street:</label>
			  <div class="col-md-10">
			  	<input class="form-control" type="text" id="street">
			  </div>
			</div>
			<div class="form-group">
			  <label class="control-label col-md-2" for="area">Area:</label>
			  <div class="col-md-10">
			  	<input class="form-control" type="text" id="area">
			  </div>
			</div>
			<div class="form-group">
			  <label class="control-label col-md-2" for="city">City:</label>
			  <div class="col-md-10">
			  	<input class="form-control" type="text" id="city">
			  </div>
			</div>
			<div class="form-group">
			  <label class="control-label col-md-2" for="state">State:</label>
			  <div class="col-md-10">
			  	<input class="form-control" type="text" id="state">
			  </div>
			</div>
			<div class="form-group">
			  <label class="control-label col-md-2" for="country">Country:</label>
			  <div class="col-md-10">
			  	<input class="form-control" type="text" id="country">
			  </div>
			</div>
			<div class="form-group">
			  <label class="control-label col-md-2" for="pin">PIN:</label>
			  <div class="col-md-10">
			  	<input class="form-control" type="number" id="pin">
			  </div>
			</div>
		  </div>
		</div>
		<!-- ------------------------------------ bank details  -------------------------------- -->
		<div class="panel panel-primary">
		  <div class="panel-heading">
		    <h3 class="panel-title">Bank Details</h3>
		  </div>
		  <div class="panel-body">
		    <div class="form-group">
			  <label class="control-label col-md-2" for="acc_holder_name">Account Holder's Name </label>
			  <div class="col-md-10">
			  	<input class="form-control" type="text" id="acc_holder_name">
			  </div>
			</div>
			<div class="form-group">
			  <label class="control-label col-md-2" for="acc_number">Account Number </label>
			  <div class="col-md-10">
			  	<input class="form-control" type="text" id="acc_number">
			  </div>
			</div>
			<div class="form-group">
			  <label class="control-label col-md-2" for="bank_name">Bank Name </label>
			  <div class="col-md-10">
			  	<input class="form-control" type="text" id="bank_name">
			  </div>
			</div>
			<div class="form-group">
			  <label class="control-label col-md-2" for="branch_name">Branch Name </label>
			  <div class="col-md-10">
			  	<input class="form-control" type="text" id="branch_name">
			  </div>
			</div>
			<div class="form-group">
			  <label class="control-label col-md-2" for="ifsc">IFS Code </label>
			  <div class="col-md-10">
			  	<input class="form-control" type="text" id="ifsc">
			  </div>
			</div><!-- 
			<div class="form-group">
				<label class="control-label col-md-2" for="cheque_copy">Cheque Copy</label>
				<div class="col-md-10">
					<input type="file" id="cheque_copy" multiple="">
					  <div class="input-group">
					    <input type="text" readonly="" class="form-control" placeholder="Upload a cheque leaf copy">
					      <span class="input-group-btn input-group-sm">
					        <button type="button" class="btn btn-fab btn-fab-mini">
					          <i class="material-icons">attach_file</i>
					        </button>
					      </span>
					  </div>
				 </div>
			</div> -->
		  </div>
		</div>
	</div>
	<div class="form-group">
		<div class="checkbox col-md-12 text-center">
          <label>
            <input required id="check_tnc" type="checkbox"> I have read and understood the  
            <a href="#" id="anchor_check_tnc">Terms and Conditions</a>
          </label>
	</div>
	<div class="form-group">
	  <div class="col-md-12 text-center">
	    <button type="button" class="btn btn-primary" id="btnSubmitCase" data-loading-text="Creating...">Create Case</button>
	  </div>
	</div>
</form>

<div class="modal fade" tabindex="-1" role="dialog" id="modal_tnc">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Terms and Conditions</h4>
      </div>
      <div class="modal-body">
        {% include 'donations/donor/newcase_tnc.html' %}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

{% block scripts %}
<script src="{% static "jquery-validation/dist/jquery.validate.min.js" %}"></script>
<script type="text/javascript">
	var csrftoken = getCookie('csrftoken');

	// Show the Submit button only if TnC have been accepted
	$('#btnSubmitCase').hide();	
	$("#check_tnc").click(function(eventObject) {
		if($("#check_tnc").is(':checked')){
			$('#btnSubmitCase').show();
		}
		else{
			$('#btnSubmitCase').hide();	
		}
	});

	// Show the TnC in a modal
	$("#anchor_check_tnc").click(function(eventObject){
		eventObject.preventDefault();
		$("#modal_tnc").modal('show');
	});

	$('#btnSubmitCase').click(function(eventObject){
		$('#form').validate();
		if ($('#form').valid()){
			// Submit the form data
		    $.ajax(
		      {
		      	url: "/cases/new/",
		      	type: "POST",
		        headers: { 'X-CSRFToken' : csrftoken },
		        data: {
		        	// basic info
		        	'first_name': $('#f_name')[0].value || null,
		        	'last_name': $('#l_name')[0].value || null,
		        	'phone': $('#phone')[0].value || null,
		        	'email': $('#email')[0].value || null,
		        	// case info
		        	'reason': $('input[name=reason]:checked').val() || null,
		          	'brief': $('#case_brief')[0].value || null,
		          	'wish_amt': $('#wish_amt')[0].value || null,
		        	// address
		        	'house_name': $('#house_name')[0].value || null,
		        	'street': $('#street')[0].value || null,
		        	'area': $('#area')[0].value || null,
		        	'city': $('#city')[0].value || null,
		        	'state': $('#state')[0].value || null,
		        	'country': $('#country')[0].value || null,
		        	'pin': $('#pin')[0].value || null,
		        	// bank details
		          	'acc_holder_name': $('#acc_holder_name')[0].value || null,
		          	'acc_number': $('#acc_number')[0].value || null,
		          	'bank_name': $('#bank_name')[0].value || null,
		          	'branch_name': $('#branch_name')[0].value || null,
		          	'ifsc': $('#ifsc')[0].value || null,
		        },
		        beforeSend: function( jqXHR, settingsObj ){
		          // Send the submit button into 'loading' state
		          $('#btnSubmit').button('loading');
		        },
		      }
		    )
		    .done(function(data, status, jqXHR){
		      $.snackbar({
		      	content: "Case Created Successfully!",
		      	style: "toast",
		      	timeout: 2000 // disappear in milliseconds
		      });
		    })
		    .fail(function(jqxhr, status, errorThrown){
		      $.snackbar({
		      	content: jqxhr.responseJSON.message,
		      	style: "toast",
		      	timeout: 2000 // disappear in milliseconds
		      });
		    })
		    .always(function(){
		    	$('#btnSubmit').button('reset');
		    });	
		}
	});
</script>
{% endblock %}