{% extends "donations/base.html" %}
{% load static from staticfiles %}

{% block title %} My Account | helpinghands.gives{% endblock %}

{% block content %}
<div class="row">
	<!-- The side navigation pills -->
	<div class="col-md-3">
		<div class="panel">
			<!-- Nav tabs -->
			  <ul class="nav nav-pills nav-stacked" role="tablist">
			    
			    <li role="presentation" class="active">
			    	<a href="#case" aria-controls="cases" role="tab" data-toggle="pill">
			    		<span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span>
			    		Case Details
			    	</a>
			    </li>
			    
			    <li role="presentation">
			    	<a href="#address" aria-controls="conversations" role="tab" data-toggle="pill">
			    		<span class="glyphicon glyphicon-comment" aria-hidden="true"></span>
			    		Address Details
			    	</a>
			    </li>
			    
			    <li role="presentation">
			    	<a href="#work" aria-controls="profile" role="tab" data-toggle="pill">
			    		<span class="glyphicon glyphicon-user" aria-hidden="true"></span>
			    		Work Details
			    	</a>
			    </li>

			    <li role="presentation">
			    	<a href="#bank" aria-controls="profile" role="tab" data-toggle="pill">
			    		<span class="glyphicon glyphicon-user" aria-hidden="true"></span>
			    		Bank Information
			    	</a>
			    </li>
			    
			    <li role="presentation">
			    	<a href="/accounts/logout/">
			    		<span class="glyphicon glyphicon-off" aria-hidden="true"></span>
			    		Logout
			    	</a>
			    </li>
			  </ul>
		</div>
	</div>
	<div class="col-md-9">
		 <!-- Tab panes -->
		  <div class="tab-content">
		    <div role="tabpanel" class="tab-pane active in" id="case">
		    	{% include "donations/donee/case.html" %}
		    </div>
		    <div role="tabpanel" class="tab-pane fade" id="address">
		    	Test Address 
		    </div>
		    <div role="tabpanel" class="tab-pane fade" id="work">
		    	work 
		    </div>
		    <div role="tabpanel" class="tab-pane fade" id="bank">
		    	{% include "donations/donee/bank.html" %} 
		    </div>
		    <div role="tabpanel" class="tab-pane fade" id="profile">
		    	profile 
		    </div>
		  </div>
	</div>
</div>
{% endblock %}
